*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 15px;
}

body {
	margin: 0;
	--color-text: #ffffff;
    --color-bg: #0e0e0e;
    --color-link: #d20d0d;
    --color-link-hover: #ffffff;
    --color-content: #4e4e4e;
	--font-alt: freight-display-pro, serif;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: soleil, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* Cursor styles */
    --cursor-stroke: #ffffff;
    --cursor-fill: none;
	--cursor-stroke-width: 1px;
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	cursor: pointer;
}

::selection {
	color: var(--color-link);
	background: var(--color-bg);
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

a.ignored {
	color: white;
}

.frame {
	padding: 3rem 5vw;
	text-align: center;
	position: relative;
	z-index: 1000;
}

.frame__title {
	font-size: 1rem;
	margin: 0 0 1rem;
	font-weight: inherit;
}

.language {
	display: block;
}

.language img {
	max-width: 20px;
}

.language > *:not(:last-child) {
    margin-right: 1rem;
}

.content {
	display: flex;
	position: relative;
	flex-direction: column;
	width: 100vw;
	height: calc(100vh - 13rem);
	position: relative;
	justify-content: flex-start;
	align-items: center;
}

.content p {
	max-width: 80vw;
	font-size: 4.5vw;
	text-transform: none;
	color: var(--color-content);
	font-family: var(--font-alt);
	font-weight: 300;
	line-height: 1.4;
	margin: 0;
}

@media screen and (min-width : 429px) {
	.content p {
		width: 80vw;
	}
	.frame {
		grid-template-columns: 40% 20% 40%;
		grid-template-rows: auto auto auto;
		grid-template-areas: '. title .'
							'. . .'
							'. . language';
	}
}

@media screen and (max-width : 428px) {  
	.content p {
		margin: 30px auto;
		font-size: 7vw;
	}
	.frame {
		grid-template-columns: 40% 20% 40%;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'title . language'
							'. . .'
							'. . .';
	}
}

.content p a {
	font-style: italic;
	position: relative;
}

.content p a.back_link {
	font-style: italic;
	position: relative;
	font-size: 1.5vw;
	color: var(--color-text);
}

.content p a::after { 
	content: ''; 
	position: absolute; 
	width: 100%; 
	height: 1px; 
	background: currentColor; 
	bottom: 0.5vw; 
	left: 0; 
	opacity: 0; 
	transform-origin: 0% 50%; 
	transform: scaleX(0); 
	transition: all 0.25s ease-out; 
} 
 
.content p a:hover::after, 
.content p a:focus::after { 
	opacity: 1; 
	transform: scaleX(1); 
}

.menu {
	display: flex;
	overflow: hidden;
	position: relative;
	width: 100vw;
	justify-content: center;
}

.menu__item {
	font-size: 6.5vw;
	margin: 0 2vw;
	cursor: default;
	font-family: var(--font-alt);
	color: var(--color-menu-link);
	cursor: pointer;
}

.menu__item:hover,
.menu__item:focus {
	color: var(--color-menu-link-hover);
}

.cursor {
	display: none;
}

.frame {
	position: fixed;
	text-align: left;
	z-index: 10000;
	top: 0;
	left: 0;
	display: grid;
	align-content: space-between;
	width: 100%;
	max-width: none;
	padding: 2.5rem 3rem;
	pointer-events: none;
	height: 100vh;
}
.frame__title {
	grid-area: title;
	margin: 0;
}
.language {
	grid-area: language;
	padding: 0;
	justify-self: end;
}
.frame a {
	pointer-events: auto;
}
.content {
	height: 100vh;
	justify-content: center;
}

@media (any-pointer: fine) {
	.cursor {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
		opacity: 0;
	}
	.cursor__inner {
		fill: var(--cursor-fill);
		stroke: var(--cursor-stroke);
		stroke-width: var(--cursor-stroke-width);
	}
}